In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
plt.rc('font', family = 'Malgun Gothic')
filename = 'C:/Users/82109/Desktop/언급량/언급량2.csv'

In [21]:
df = pd.read_csv(filename)

In [22]:
df['날짜'] = df['날짜'].apply(lambda x: pd.to_datetime(str(x),format='%Y-%m-%d'))

In [23]:
df.set_index('날짜')

                  퇴근        날짜.1        컬러
날짜
2021-05-09   9.61702  2021-05-09  27.40425
2021-05-10  20.51063  2021-05-10  43.57446
2021-05-11  21.70212  2021-05-11  42.55319
2021-05-12  22.46808  2021-05-12  36.17021
2021-05-13  22.97872  2021-05-13  42.89361
...              ...         ...       ...
2022-04-19  22.29787  2022-04-19  50.04255
2022-04-20  21.19148  2022-04-20  46.97872
2022-04-21  24.42553  2022-04-21  48.42553
2022-04-22  21.70212  2022-04-22  42.21276
2022-04-23  12.08510  2022-04-23  25.53191

[350 rows x 3 columns]

In [24]:
df_resample = df.resample(rule='1W', on='날짜').sum()

In [25]:
df_resample

                   퇴근         컬러
날짜
2021-05-09    9.61702   27.40425
2021-05-16  131.40422  250.04252
2021-05-23  121.95742  244.51060
2021-05-30  137.10634  270.12763
2021-06-06  138.55316  271.14891
2021-06-13  130.55315  280.25529
2021-06-20  137.36167  261.27657
2021-06-27  129.44678  252.17018
2021-07-04  130.63827  243.99997
2021-07-11  143.57443  249.70209
2021-07-18  144.42550  242.12762
2021-07-25  136.34039  245.10635
2021-08-01  125.19145  226.97870
2021-08-08  120.34039  225.02124
2021-08-15  128.59570  231.40421
2021-08-22  118.72337  243.14889
2021-08-29  122.89358  258.21274
2021-09-05  125.44678  250.29784
2021-09-12  124.17019  255.23402
2021-09-19  134.04251  240.68081
2021-09-26   86.29783  176.59570
2021-10-03  117.87232  264.08508
2021-10-10  123.31912  241.44678
2021-10-17  131.40423  240.34040
2021-10-24  121.87230  252.51060
2021-10-31  123.65955  241.19145
2021-11-07  130.55316  245.87230
2021-11-14  117.19146  260.93613
2021-11-21  124.34039  245.10634
2021-11-28  117.78720  251.14889
2021-12-05  118.55315  236.51060
2021-12-12  116.68083  258.38295
2021-12-19  114.89358  258.80847
2021-12-26  113.70210  238.46805
2022-01-02  101.02125  399.65955
2022-01-09  120.25529  262.89359
2022-01-16  121.10636  271.40422
2022-01-23  128.34039  252.59570
2022-01-30  126.55314  225.95742
2022-02-06   87.82975  195.74464
2022-02-13  129.02125  259.48933
2022-02-20  120.68082  267.65955
2022-02-27  120.59571  254.72336
2022-03-06  110.46805  267.06380
2022-03-13  117.70209  286.63826
2022-03-20  133.02124  297.87232
2022-03-27  127.06379  307.65953
2022-04-03  125.87232  280.59571
2022-04-10  128.85103  262.29783
2022-04-17  129.02122  271.40422
2022-04-24  123.91486  255.57444

In [26]:
df_resample.to_csv('C:/Users/82109/Desktop/언급량/주간 언급량2.csv')